{
	"extends": [
	  "wesbos"
	],
	"rules": {
	  "no-console": "off",
	  "prettier/prettier": [
	    "error",
	    {
	      "trailingComma": "es5",
	      "singleQuote": true,
	      "printWidth": 80,
	      "tabWidth": 2
	    }
	  ]
	}
      }